/* Import Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
    scroll-behavior: smooth !important;
}

input[type=checkbox] {
    background: red !important;
}